@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/RuRdwqUdkfYP0fpTfyGHiA.eot);
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/RuRdwqUdkfYP0fpTfyGHiA.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}
